<!-- Templete Extending: Using the same parts of HTMl for different pages of the website
Templates help when you want to use the same information or layout in more than one place. You don't have to repeat yourself in every file. And if you want to change something, you don't have to do it in every template, just one!

we need to create a base.html as our base template 

-->

{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <div class="page-header">
<!--     this is how we can add authentication, like doing the cookie stuff from tomcat but easier since django does it all for you, so how it works is, if you are not logged into as admin, then these icons will not appear on the screen!  -->
	{% if user.is_authenticated %}
   		<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	{% endif %}
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">

            <!--this is a block area, meaning this is where html will be inserted into -->	
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>